<div class="container">

<div class="row">
<div class="col-4 " style="height: 2rem;">
<p-card>
    <ng-template pTemplate="header">
        <img alt="Card" src="https://img.freepik.com/free-vector/doctor-character-background_1270-84.jpg?w=740&t=st=1709381711~exp=1709382311~hmac=3cf53a331363000c68929050aaa755f61b4f801469aa18408eab24c03b3e4b08" />
    </ng-template>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque
        quas!
    </p>
    <ng-template pTemplate="footer">
        <p-button label="Save" icon="pi pi-check"></p-button>
        <p-button label="Cancel" icon="pi pi-times" styleClass="p-button-secondary" [style]="{ 'margin-left': '.5em' }"></p-button>
    </ng-template>
</p-card> 
</div>
<div class="col-4">
<p-card style="max-height: 300px;">
    <ng-template pTemplate="header">
        <img alt="Card" src="https://img.freepik.com/free-vector/doctor-character-background_1270-84.jpg?w=740&t=st=1709381711~exp=1709382311~hmac=3cf53a331363000c68929050aaa755f61b4f801469aa18408eab24c03b3e4b08"  />
    </ng-template>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque
        quas!
    </p>
    <ng-template pTemplate="footer">
        <p-button label="Save" icon="pi pi-check"></p-button>
        <p-button label="Cancel" icon="pi pi-times" styleClass="p-button-secondary" [style]="{ 'margin-left': '.5em' }"></p-button>
    </ng-template>
</p-card> 
</div>
<div class="col-4">
<p-card >
    <ng-template pTemplate="header">
        <img alt="Card" src="https://img.freepik.com/free-vector/doctor-character-background_1270-84.jpg?w=740&t=st=1709381711~exp=1709382311~hmac=3cf53a331363000c68929050aaa755f61b4f801469aa18408eab24c03b3e4b08" />
    </ng-template>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque
        quas!
    </p>
    <ng-template pTemplate="footer">
        <p-button label="Save" icon="pi pi-check"></p-button>
        <p-button label="Cancel" icon="pi pi-times" styleClass="p-button-secondary" [style]="{ 'margin-left': '.5em' }"></p-button>
    </ng-template>
</p-card> 
</div>
</div>
</div>
