<div class="container d-flex justify-content-center align-items-center min-vh-100">
  
    <div class="row border rounded-5 p-3 bg-white  box-area">
        <div class="col-md-6 rounded-4 d-flex justify-content-center align-items-center flex-column left-box" style="background: #103cbe;">
            <div class="featured-image mb-3">
                <img src="../../../assets/images/dental1.png" class="img-fluid" style="width: 4000px;">
            </div>
            <p class="text-white fs-2" style="font-family: 'Courier New', Courier, monospace; font-weight: 600;">Be Verified</p>
            <small class="text-white text-wrap text-center" style="width: 17rem;font-family: 'Courier New', Courier, monospace;">Welcome To ToothBooth</small>
        </div>
        <div class="col-md-6 right-box" >
            <div class="row align-items-center">
                <div class="header-text mb-4">
                    <h2>Hello</h2>
                    <p>Please Enter Your Details.</p>
                </div>
                <form class="form" #registrationForm="ngForm" (ngSubmit)="submitForm()">
                <div class="input-group mb-2">
                    <input type="text" class="form-control form-control-lg bg-light fs-6" placeholder="User Name" name="username" ngModel required #username="ngModel">
                </div>
                <div class="input-group mb-2">
                    <input type="password" class="form-control form-control-lg bg-light fs-6" placeholder="Password" name="password" ngModel required #password="ngModel">
                </div>
                <div class="input-group mb-2 mb-3">
                    <button type="submit" class="btn btn-lg btn-primary w-100 fs-6">Sign Up</button>
                </div>
                </form>
                <div class="row">
                    <small>Do you want to Sign Up? <a routerLink="register">Register</a></small>
                </div>
            </div>
        </div>
    </div>
    <p-button>Hello</p-button>
</div>
